<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% extends 'base.html' %}
{% block content %}
{% load static%}
<style>
    .carousel-caption {
        position: relative;
        top: 45px; 
        left: 500px;
        bottom: 100px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(0, 0, 0);
        text-align: left;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
</style>

<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="30">
                        <img src="{% static '/image/login5.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div style="text-align: center; font-family: GongGothicMedium;">
                                {% if user.is_authenticated %}
                                    <p>
                                        <a class='nav-link' href="{% url 'account:logout' %}">
                                            <br>
                                            &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;{{ user.username }} 님 반갑습니다.
                                            &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;로그아웃 하려면 눌러주세요.
                                        </a>
                                    </p>
                                        {% else %}
                                        <br>
                                    <p> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 로그인을 해주세요 끼룩!</p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" >
                        <img src="{% static '/image/login6.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div style="text-align: center; font-family: GongGothicMedium;">
                                {% if user.is_authenticated %}
                                    <p>
                                        <a class='nav-link' href="{% url 'account:logout' %}">
                                            <br>
                                            &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;{{ user.username }} 님 반갑습니다.
                                            &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;로그아웃 하려면 눌러주세요.
                                        </a>
                                    </p>
                                        {% else %}
                                        <br>
                                    <p> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 로그인을 해주세요 끼룩!</p>
                                    
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>


        <div class="col-3">           
            <div class="wrapper">
                <div style="text-align: center; font-family: GongGothicMedium;">
                    <br><br>
                    <h1>로그인</h1>
            
                    <form method="POST">
                        {% csrf_token %}
                        <br>
                        아이디
                        <br>
                        <input name="username" type="text">
                        <br><br>
                        비밀번호
                        <br>
                        <input name="password" type="password">
                        <br><br>
                        <input type="submit" class="btn btn-info" value="Login">
                        <br>
                        <br>
                    </form>
            
                    <a href="{% url 'account:signup' %}">계정이 없나요? 끼룩</a></span>
                </div>
            </div>        
        </div>
    </div>
{% endblock %}

</div>