{% extends 'base.html' %}
{% block content %}
{% load static%}
<div class="wrapper" style="text-align: center; font-family: GongGothicMedium;">
    <br><br>
    <h1>회원가입</h1>
    <br>
    <form method="post" class="post-form">           
        {% csrf_token %}
        {% include "form_error.html" %}

        아이디 <br>
        <input name="username" type="text">
        <br>
        <br>
        비밀번호 <br>
        <input name="password1" type="password">
        <br>
        <br>
        비밀번호 확인 <br>
        <input name="password2" type="password">
        <br>
        <br>
        이메일 <br>
        <input name="email" type="email">
        <br>
        <br>
        별명 <br>
        <input name="last_name" type="last_name">
        <br><br>
        <input type="submit" class="btn btn-info" value="Sign Up">
        <br>
    </form>
    <br>
    <a href="{% url 'account:login' %}">이미 계정이 있나요? 끼룩끼룩!</a></span>
</div>
{% endblock %}