{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .testing{
        font-family: "YUniverse-L";
        position: relative;
        font-size: 20px;

    }
    .cookmaterial{
        height:2rem;
        background: #BFB5B5 0% 0% no-repeat padding-box;
        border-radius: 90px;display: inline-block; text-align : center;
    }
    input {
        font-family: "YUniverse-B";
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        }
    .feedback {
        display: none;
        color: red;
    }
    .show {
        display: block;
    }

    
</style>

    <!-- <div style="height: 20rem; background-color: #38df81; border-radius : 1rem; margin: 2rem;"> -->

<!-- 냉장고 재료 입력 칸 -->
<div class = "testing" style="text-align: center; margin : 1rem">
    <span style="font-family : 'YUniverse-B';">
    {% for item in recipe_list%}
    {{ item}}
    {% endfor%}
    님</span>의 냉장고
</div>

<!-- 재료 이름, 유통기한 -->
<div style="text-align: center;">
    <span class = "testing" style="left: -12rem;">재료 이름</span>
    <span class = "testing" style="left: -1.5rem;">유통 기한(선택)</span>
    <br>
    <form action="/ref/main/", method = "post">
        {% csrf_token %}
        <input class = "testing" style= "width: 15rem; height: 2.5rem;" type="text" name ="material_name"/>
        <input class = "testing" style="width: 15rem; height: 2.5rem;" type="text" name="expire_date"/>
        {% comment %} <input class = "testing" style= "width: 5rem; height: 2.5rem;" type="submit", value="입력"> {% endcomment %}
        <button type="button" style= "width: 5rem; height: 2.5rem; font-family: 'YUniverse-L'; margin-left : 2rem;  font-size: 18px;" class="btn btn-outline-secondary" type="submit">입력</button>

    </form>

    <h1>
        {% if temp %}
            {% comment %} {% for new_temp in new_temp_output%} {% endcomment %}
            <h4>    
                {{temp}}
            </h4>
            {% comment %} {% endfor %} {% endcomment %}
        {% endif %}

    </h1>

    
    <br>
    <br>
</div>

<div  style="text-align: center;">
    <!--  현재 재료 목록 -->
    <span class = "testing">현재 재료 목록</span>

</div>

<div class="slider">
    <div class="slides">
      <div id="slide-1"><img src="{% static '/image/128671.jpg'%}" alt=""></div>
      <div id="slide-2"><img src="{% static '/image/131871.jpg'%}" alt=""></div>
      <div id="slide-3"><img src="{% static '/image/128671.jpg'%}" alt=""></div>
    </div>
  
    <a href="#slide-1">1</a>
    <a href="#slide-2">2</a>
    <a href="#slide-3">3</a>
  </div>

{% endblock %}



