{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .testing{
        font-family: "SUIT-Medium";
        position: relative;
        font-size: 20px;
    }
    .subtitle{
        font-family: "SUIT-Medium";
        position: relative;
        font-size: 23px; 
    }
    input {
        font-family: "SUIT-Medium";
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        }
    .btn{
        font-family: "SUIT-Medium";
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 3px;
        padding: 12px 24px;
        border: 0;
        color: #000021;
        background: #36CCA6;;
        line-height: 1.15;
        font-size: 16px;
    }
    .btn:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #36CCA6;;
    }
</style>

<!-- 냉장고 재료 입력 칸 -->
<!-- <div class = "testing" style="text-align: center; margin : 1rem">
    <span>
    {% for item in recipe_list%}
    {{ item}}
    {% endfor%}
    님</span>의 냉장고
</div> -->

<br>
<!-- 재료 이름, 유통기한 -->
<div style="text-align: center;">
    <span class = "testing" style="left: -12rem;">재료 이름</span>
    <span class = "testing" style="left: -1.5rem;">유통 기한(선택)</span>
    <br>
    <form action="/ref/main/", method = "post">
        {% csrf_token %}
        <input class = "testing" style= "width: 15rem; height: 2.5rem;" type="text" name ="material_name"/>
        <input class = "testing" style="width: 15rem; height: 2.5rem;" type="date" name="expire_date"/>
        <button type="button" style= "width: 5rem; height: 2.5rem; margin-left : 2rem; margin-top:-0.6rem;
         font-size: 18px;" class="btn" type="submit">입력</button>
    </form>
    <h1>
        {% if temp %}
            {% comment %} {% for new_temp in new_temp_output%} {% endcomment %}
            <h4>    
                {{temp}}
            </h4>
            {% comment %} {% endfor %} {% endcomment %}
        {% endif %}
    </h1>
    <br>
</div>

<div  style="text-align: center;">
    <!--  현재 재료 목록 -->
    <div style="text-align: center; margin-top : 1rem">
        <span class = "subtitle">🍽현재 재료 목록🍽</span>
        <div style="height: 15rem; background-color: #36CCA6; border-radius : 2rem; margin: auto; width : 45rem;"></div>
        <div style="margin: 2rem;"></div><button type="button" class="btn">레시피 검색</button></div>
    </div>
</div>
<br>
<hr>

<div style="text-align: center; margin-top : 2rem">
    <span class = "subtitle">🔥인기 레시피🔥</span>


</div>

{% include 'slider.html' %}


{% endblock %}



