{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .myprofile{
        font-family: "SUIT-Medium";
        position: relative;
        font-size: 20px;
    }
</style>



<br>
<div class = "myprofile">
    <div class="card mb-3" style="width : 50rem ;margin: auto; text-align : center;">
    <div class="row g-0">
        <div class="col-md-4"style ="text-align : center; border: 15px solid #36CCA6; object-fit: none";>
            <div style="margin-top : 0rem"><br></div>    
                <img src="{% static 'image/profile.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body" style ="margin : 2rem; width : 40rem">
            <div>
                <h3 class="card-title" style="display:inline-block;">아이디</h3>
                <h3 style="display:inline-block; margin-left : 1.5rem; margin-right : 10rem" >
                    <span style ="color : #36CCA6">{{user.username}}</span>
                </h3>
            </div>
            <div>
                <h3 class="card-title" style="display:inline-block;">닉네임</h3>
                <h3 style="display:inline-block; margin-left : 1.5rem; margin-right : 10rem" >
                    <span style ="color : #36CCA6">{{uinfo.last_name}}</span>
                </h3>
            </div>
            <div>
                <h3 class="card-title" style="display:inline-block;">이메일</h3>
                <h3 style="display:inline-block; margin-left : 1.5rem; margin-right : 10rem" >
                    <span style ="color : #36CCA6">{{uinfo.email}}</span>
                </h3>
            </div>
            <div style="margin-bottom:0rem;"><br></div>
            <div>
                <form action ="/ref/main/mypage/" method="POST">
                    {% csrf_token %}
                    <input style="text-align:center;position:absolute;width:10rem;" method="POST" type="submit" name="edit" value="수정">
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<br>

<hr>
<div style="margin:2rem 0rem; text-align:center;"></div>

<h2 style="font-family:SUIT-Medium ; font-size : 33px; margin : 0 10rem;"> 
    ❤ 내가 찜한 레시피
</h2>

{% include 'slider.html' %}


<hr>
<div style="margin:2rem 0rem; text-align:center;"></div>

<h2 style="font-family:SUIT-Medium ; font-size : 33px; margin : 0 10rem;"> 
    ❤ 내 게시물
</h2>

{% include 'slider.html' %}


{% endblock %}