{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .myprofile{
        font-family: "SUIT-Medium";
        position: relative;
        font-size: 20px;
    }
</style>

<div class="frame">
    <div class="profile-section">
        <img src ="{% static 'image/profile.jpg' %}" alt="" style="height:10rem; width : 10rem; border-radius : 10rem; 
                    border: 5px solid #36CCA6; margin: 4rem 10rem">
        <div class ="introduction" style="margin:0rem 10rem ; margin-left:5rem">
            <h2>아이디</h2>
            <p> "asdfg1234"</p>
            <h2>닉네임</h2>
            <p>끼룩끼룩</p>
            <h2>이메일</h2>
            <p>asdfg1234@naver.com</p>
        </div>
    </div>

</div>


<hr>
<div style="margin:2rem 0rem; text-align:center;"></div>

<h2 style="font-family:SUIT-Medium ; font-size : 33px; margin : 0 10rem;"> 
    ❤ 내가 찜한 레시피
</h2>

{% include 'slider.html' %}


<hr>
<div style="margin:2rem 0rem; text-align:center;"></div>

<h2 style="font-family:SUIT-Medium ; font-size : 33px; margin : 0 10rem;"> 
    ❤ 내 게시물
</h2>

{% include 'slider.html' %}


{% endblock %}