{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .cards-box {
        display: flex;
        justify-content: space-between;
        margin: 0 70px;
        margin-top: 65px;
        flex-wrap: wrap;
        {#float: left;#}
    }
    .btn{
        font-family: "SUIT-Medium";
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 3px;
        padding: 12px 24px;
        border: 0;
        color: #000021;
        background: #36CCA6;;
        line-height: 1.15;
        font-size: 16px;
    }
    .btn:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #36CCA6;;
    }
</style>

{% csrf_token %}
<div class="card-colums" id="all_posting">
    <div id="card-box" class="cards-box">
        {% for item in recipe_list%}
            <div class="card" style="width: 17rem; margin-bottom:15px; margin-left: 10px;">
                <img class="card-img-top" src="/static/image/rep_img/{{item.rcp_sno}}.jpg/" alt="Card image cap"
                style="border-bottom: 1px solid #eee; height: 200px;">
                <div class="card-body">
                    <ul class='card-body-ul' style="margin-bottom : 3rem">
                        <p style="font-family : SUIT-Medium"> 이름 : {{ item.ckg_nm }}</p>
                        <p style="font-family : SUIT-Medium"> 재료 : {{ item.mtrl }}</p>
                        <div class="btn-detail" style = "text-align:center; position: absolute; top: 20rem; left:5rem">
                            {% comment %} <input type="submit" name ="next" value="next" method ="POST" > {% endcomment %}
                            <form action = "/ref/main/searchRecipe/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name = "rcp_sno" value = {{item.rcp_sno}}>
                                <input  class="btn" value = "자세히" method = "POST" type="submit" name = "detailViews" style="margin-left: 100px; margin-bottom: 13px; height: 40px">
                                {% csrf_token %}
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

