{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .card-colums{
        margin: 0;
        font-family : "SUIT-Medium";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
    }
    .cards-box {
        display: flex;
        justify-content: space-between;
        margin: 0 70px;
        margin-top: 65px;
        flex-wrap: wrap;
        {#float: left;#}
    }
</style>

<div class="card" style="width: 17rem; margin : auto;">
    <img class="card-img-top" src="/static/image/rep_img/{{query.rcp_sno}}.jpg/" alt="Card image cap" style="border-bottom: 1px solid #eee; height: 200px;">
    <div class="card-body">
        <ul class='card-body-ul'>
            <p style="font-family : SUIT-Medium">이름 : {{ query.ckg_nm }}</p>
            <p style="font-family : SUIT-Medium"> 재료 : {{ query.mtrl }}</p>
            <div class="btn-detail">
                <p>
                    <a href="https://www.10000recipe.com/recipe/{{query.rcp_sno}}" style="font-family : SUIT-Medium">레시피 상세보기</a>
                </p>
            </div>
        </ul>
    </div>
</div>

{% endblock %}

