{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'community.css' %}">



    <style>
        .testing{
            background-color:white;
            height:3rem;
            width:3rem;
            margin:1rem;
        }

        .box{
            top: 380px;
            left: 81px;
            margin:1rem;
            width: 600px;
            height: 334px;
            background: #EEEDED 0% 0% no-repeat padding-box;
            border-radius: 80px;
            opacity: 1;
        }

        .searchlist{
            top: 320px;
            left: 720px;
            width: 270px;
            height: 43px;
            
        }
        .searchlist, a{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 32px/43px var(--unnamed-font-family-y-universe);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-515151);
            text-align: center;
            font: normal normal normal 32px/43px Y Universe;
            letter-spacing: 0px;
            color: #515151;
            opacity: 1;
            text-decoration:none;
        }
        .photo{
            top: 410px;
            left: 109px;
            width: 270px;
            height: 270px;
            background: transparent url({% static 'image/sample.jpg' %}) 0% 0% no-repeat padding-box;
            background-size: cover;
            border-radius:50%;
            opacity: 1;
        }
        .title{
            width: 507px;
            height: 49px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 37px/49px Y Spotlight;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: right;
            font: normal normal normal 37px/49px Y Spotlight;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
        }
        .detail{
            width: 200px;
            height: 40px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 30px/40px var(--unnamed-font-family-y-universe);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: right;
            font: normal normal normal 30px/40px Y Universe;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
            font-size: 17px;
        }
        
        .button{
            outline:0;
            border:0;
            background-color:transparent
        }

        .inphoto{
            top: 23px;
            left: 289px;
            height: 100px;
            background: transparent url({% static '/image/sample.jpg' %}) 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 1.5rem 1.5rem 0px 0px;
            opacity: 1;

        }

        .font0{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 37px/49px Y Spotlight;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: center;
            font: normal normal normal 26px/38px Y Spotlight;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
        }
        
        .font1{
            font: var(--unnamed-font-style-normal) normal bold 30px/36px LG Smart UI;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: center;
            font: normal normal bold 30px/36px LG Smart UI;
            letter-spacing: 0px;
            color: #36CCA6;
            opacity: 1;
        }
        .font2{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 30px/40px LG Smart UI;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 30px/40px LG Smart UI;
            letter-spacing: 0px;
            color: #000000;
        }

    </style>

    <button id="dog">강아지</button>
    <div class="dogs"></div>

    <div class = "container">
        <div class ="row">
            <div class ="col-4">
            </div>
            <div class = "col-4">    
                <div class = 'searchlist' style="display: inline-block;">
                <a href=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;검색 결과</a>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class = "col-2">
                <div class = 'searchlist' style="display: inline-block; text-align:right">
                    <a href='moreNeed'>더 보기</a>
                </div>
            </div>
        </div>
    </div>

<form action="" method="post">
    {% csrf_token %}
    <div class = "container">
        <div class ="row">

            {% for item in recipe_list%}
            <div class = "col-lg-6 col-md-6 col-sm-12">
                <div class = 'box'>
                    <div class="container">
                        <div class ="row">
                            <div class ="col-12" style="visibility:hidden;height:32px">a</div>
                            <div class ="col-6">
                                <span class = 'photo' style="display: inline-block;">
                                </span>
                            </div>
                            <div class ="col-6">
                                <div class="item" style="inline-block">
                                    <a href="#" onclick="openzlog();" style="width:auto">{{item.ckg_nm}}</a>
                                
                                    {% if user_check.board_id == board_info.board_id %}
                                    <button class = "button" method="post" action="">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>
                                    </button>
                                    {%endif%}
                                
                                    {% if user_check.board_id != board_info.board_id %}
                                    <button class = "button" method="post" action="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                    </button>
                                    {%endif%}
                                </div>
                                <span class = 'detail' style="display: inline-block;">{{item.ckg_mtrl_cn}}</span>

                            </div>
                        </div>
                    </div>

                </div>  
            </div>
            {% endfor %} 
        </div>
    </div> 
</form>


<div id="zlog" class="modal">
    
    <form class="modal-content" action="/ref/searchRecipe/" method="post">
        {% csrf_token %}
        <div class ='inphoto' style="height:500px;">
            <span onclick="closezlog();" class="close">&times;</span>
        </div>
        <div class="container">
            <div class ="row">
                <div class ="col-5">
                </div>
                <div class ="col-4">
                    <span class ="font0">요리명</span>
                </div>
                <div class ="col-2">
                </div>
                <div class ="col-1">
                    {% if user_check.board_id == board_info.board_id %}
                    <button class = "button" method="post" action="" name="user_check" onclick="javascript:clicked();">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </button>
                    {%endif%}
                
                    {% if user_check.board_id != board_info.board_id %}
                    <button class = "button" method="post" action="" name="user_check" onclick="javascript:clicked();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </button>
                    {%endif%}
                </div>
            </div>
            <div class="row" style="height:40px">
            </div>

        </div>
        <div class="container">
            <div class ="row">
                <div class ="col-2">
                </div>
                <div class ="col-10">
                    <span class ="font1">재료 : </span>
                </div>
            </div>
            <div class="row" style="height:40px">
            </div>

        </div>
        <div class="container">
            <div class ="row">
                <div class ="col-2">
                </div>
                <div class ="col-10">
                    <span class="font2">레시피 : </span>
                </div>
            </div>
            <div class="row" style="height:40px">
            </div>

        </div>
        <div class="container">
            <div class ="row">
                <div class ="col-2">
                    <span>참고영상 </span>
                </div>
                <div class ="col-10">
                </div>
            </div>
            <div class="row">
                <div class ="col">
                    <div class="container">
                        <div class="row">
                            <div class="col-3" >
                                <img src="{% static '/image/sample.jpg' %}" width=100 height=100>
                            </div>
                            <div class="col-3">
                                <img src="{% static '/image/sample.jpg' %}" width=100 height=100>
                            </div>
                            <div class="col-3">
                                <img src="{% static '/image/sample.jpg' %}" width=100 height=100>
                            </div>
                            <div class="col-3">
                                <img src="{% static '/image/sample.jpg' %}" width=100 height=100>
                            </div>
                        </div>
                </div>
            </div>
            </div>
            <div class="row" style="height:100px">
            </div>
        </div>
       
    </form>
</div>

<script>
    var zlog = document.getElementById('zlog');
    function openzlog() {
        zlog.style.display = 'block';
    }
    function  closezlog(){
        zlog.style.display = 'none';
    }
    window.onclick = function (event) {
        if (event.target==zlog) {
            zlog.style.display='none';
        }
    }
</script>

<script>

    const button = document.querySelector("#dog")
    const url = 'https://dog.ceo/api/breeds/image/random'
    const getDogImages = function() {
        axios.get(url).then(
          (response) => {
            const imgURL = response.data.message;
            const dogImage = document.createElement("img")
            dogImage.src = imgURL;
            dogImage.style.height ="300px";
            document.querySelector(".dogs").appendChild(dogImage);
        })
      }
      button.addEventListener("click", getDogImages)

</script>

{% endblock %}




