{% extends 'base.html' %}



{% block content %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        const data = axios({
            url :'/ref/main/searchRecipe/',
            method: 'post',
            params: {
                
            }
        });
        data.then(function (result){
            alert(result.data)
            console.log(result.data);
        });

        function getCookie(name) {
            var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;  
                        }
                    }
                }
            return cookieValue;
        }
    </script>

    <style>
        .testing{
            background-color:white;
            height:3rem;
            width:3rem;
            margin:1rem;
        }

        .box{
            top: 380px;
            left: 81px;
            margin:1rem;
            width: 600px;
            height: 334px;
            background: #EEEDED 0% 0% no-repeat padding-box;
            border-radius: 80px;
            opacity: 1;
        }

        .searchlist{
            top: 320px;
            left: 720px;
            width: 270px;
            height: 43px;
            
        }
        .searchlist, a{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 32px/43px var(--unnamed-font-family-y-universe);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-515151);
            text-align: center;
            font: normal normal normal 32px/43px Y Universe;
            letter-spacing: 0px;
            color: #515151;
            opacity: 1;
            text-decoration:none;
        }
        .photo{
            top: 410px;
            left: 109px;
            width: 270px;
            height: 270px;
            background: transparent url('../../../static/img/sample.jpg') 0% 0% no-repeat padding-box;
            background-size: cover;
            opacity: 1;
        }
        .title{
            top: 484px;
            left: 419px;
            width: 507px;
            height: 49px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 37px/49px Y Spotlight;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: right;
            font: normal normal normal 37px/49px Y Spotlight;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
            background-color:#EEEDED;
        }
        .detail{
            top: 550px;
            left: 420px;
            width: 366px;
            height: 40px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 30px/40px var(--unnamed-font-family-y-universe);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: right;
            font: normal normal normal 30px/40px Y Universe;
            letter-spacing: 0px;
            color: #707070;
            opacity: 1;
            background-color:#EEEDED;
        }
        
        .button{
            outline:0;
            border:0;
        }



    </style>

    <div class = "container">
        <div class ="row">
            <div class = "col-sm">    
                <div class = 'searchlist' style="display: inline-block;">
                <a href=''>레시피 검색 결과</a>
                </div>
            </div>
            <div class = "col-sm">
                <div class = 'searchlist' style="display: inline-block; text-align:right">
                    <a href='moreNeed'>더 보기</a>
                </div>
            </div>
        </div>
    </div>

    <hr>


<form action="" method="post">
    {% csrf_token %}
    <div class = "container">
        <div class ="row">
            {% for item in recipe_list%}
            <div class = "col-lg-6 col-md-6 col-sm-12 bg-info">
                <div class = 'box' style="display: inline-block;">
                    <div class = 'photo' style="display: inline-block;">
                        <div class = 'title' style="display: inline-block;">{{item.ckg_nm}} 

                            {% comment %} 
                            if 문으로 눌렀을시 가득찬 하트 / 아닐시 빈 하트 
                            비동기 
                            {% endcomment %}
                            
                       
                           <button class = "button" action="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                           </button>
                              
                            <button class = "button" action="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                            </button>
                       

                        </div>
                        <div class = 'detail' style="display: inline-block;">{{item.ckg_mtrl_cn}}</div>
                    </div>
                </div>  
            </div>
            {% endfor %} 
        </div>
    </div> 
</form>

{% endblock %}




