<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% include 'community_insert.html'%}
{% block content %}

<html lang="en" >
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width">
        <title>Refrigerator</title>
        <script type="text/javascript" src="http://127.0.0.1:8000/static/magicgrid.js%20fileram.pstparam.js"></script>
    </head>

    <style>
        .container div {
        width: 300px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        }
        
        .container img {
        width: 100%;
        }
    </style>

    <body>
        <div class="container">
            <div>
                <img src="https://picsum.photos/200/300">
            </div>
            <div>
                <img src="https://picsum.photos/200/340">
            </div>
            <div>
                <img src="https://picsum.photos/200/280">
            </div>
            <div>
                <img src="https://picsum.photos/200/390">
            </div>
            <div>
                <img src="https://picsum.photos/200/200">
            </div>
            <div>
                <img src="https://picsum.photos/200/500">
            </div>
            <div>
                <img src="https://picsum.photos/200/100">
            </div>
            <div>
                <img src="https://picsum.photos/200/250">
            </div>
            <div>
                <img src="https://picsum.photos/200/320">
            </div>
            <div>
                <img src="https://picsum.photos/200/300">
            </div>
            <div>
                <img src="https://picsum.photos/200/300">
            </div>
            <div>
                <img src="https://picsum.photos/200/270">
            </div>
            <div>
                <img src="https://picsum.photos/200/330">
            </div>
        </div>

    </body>
</html>
