.main_footer_logo{
    font-size : .6rem;
}

.main_footer_btn{
    font-size : .6rem;
}

.main_footer{
    text-align: center; 
    margin-top: 2rem;
}

.main_header{
    text-align: center; 
    margin: 2rem 0;
}