.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

/*profile-section*/

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'SUIT-Medium', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'SUIT-Medium', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin-bottom: 40px;
}

#capability{
    font-family: 'SUIT-Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;

    line-height: 30px;
}
