{% load static%}
<div class="main_header">
    <div>
        <a href="/ref/main">
            <img src="{% static '/image/logo.png' %}" title="메인 로고" style="width:200px; margin: 0rem 2rem;"/>
        </a>    
        <br>
    </div>
    <div style="font-family: GongGothicMedium;">
        <a href="/ref/main/mypage">
            <img src="{% static '/image/user.png' %}" title="회원 계정 이미지" style="display: inline-block; width:40px; float : right; margin: 0rem 2rem;"/>
        </a>
        <div style = "font-size : 2rem; display: inline-block; width: 500px;">끼룩끼룩씨의 냉장고</div>
        <img src="{% static '/image/user.png' %}" title="회원 계정 이미지" style="visibility: hidden; width:40px; float : left; margin: 0rem 2rem;"/>
    </div>
    </div>
    <hr>
    <div style = "text-align: center; font-family: GongGothicMedium; font-size : 1.5rem;">
        <a href="/ref/main" class="main_header_menu">재료</a> 
        <a href="/ref/main/searchRecipe" class="main_header_menu">레시피검색</a> 
        <a href="" class="main_header_menu">요리커뮤니티</a> 
        <a href="/ref/main/mypage" class="main_header_menu">마이페이지</a>
    </div>
</div>