{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>슬릭슬라이더</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $(function(){
      $('.myslide').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    })
  </script>
</head>
<body>
  <div class="myslide">
    <div>            <img src="{% static 'image/logo.png' %}" style="width:50%"></div>
    <div>            <img src="{% static 'image/logo.png' %}" style="width:50%"></div>
    <div>            <img src="{% static 'image/logo.png' %}" style="width:50%"></div>
    <div>            <img src="{% static 'image/logo.png' %}" style="width:50%"></div>
    <div>            <img src="{% static 'image/logo.png' %}" style="width:50%"></div>
  </div>
</body>
</html>