{% load static %} 
<style>
    .cook_name{
        text-align : center;
        margin-top : 1rem;
        font-size: 20px;
        font-family: "SUIT-Medium";
    }
    .cook_name a {
        display: inline-block;
    }
    .cook_name a:link {
        text-decoration: none;
        color: #3f464d;
    }
    .cook_name a:visited {
        text-decoration: none;
        color: #3f464d;
    }
    .cook_name a:active {
        text-decoration: none;
        color: #3f464d;
    }
    .cook_name a:hover {
        text-decoration: none;
        color: #36CCA6;
        cursor: pointer;
    }   
</style>

<body>
    <div class="myslide" style="width: 80rem; margin :auto">
    {% for item in star%}
    <div class="items" style="text-align : center;">
        {% comment %} <a class = "cook_name" href = '#' style="text-decoration-line : none;">
            <img src="/static/image/rep_img/{{item.rcp_sno}}.jpg/" alt="" style="border-radius : 2rem">
        </a> {% endcomment %}

        <form class = "cook_name" action = "/ref/main/searchRecipe/" method="POST" style="text-decoration-line : none;">
            {% csrf_token %}
            <input type="hidden" name = "rcp_sno" value = {{item.rcp_sno}}>
            <input src="/static/image/rep_img/{{item.rcp_sno}}.jpg/" alt="" style="border-radius : 2rem; width : 350px; height : 220px;" method = "POST" type="image" name = "detailViews">
            {% csrf_token %}
        </form>

        <a class = "cook_name" href = '#' style="text-decoration-line : none;">
            {{item.ckg_nm}}
        </a>
    </div>
    {% endfor%}
    </div>
</body>

